:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* join room form */

.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group input {
  padding: 1.5em;
  border-radius: 10px;
  outline: none;
  border: 3px solid #583892;
  font-size: 17px
}

.form-group button {
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #583892;
  color: #fff;
  font-weight: 600;
}

/* chat wrapper */

.chat-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  height: 420px;
  border: 1px solid #333;
}

.chat-wrapper .chat-header {
  height: 45px;
  background: #583892;
  position: relative;
}

.chat-wrapper .chat-header p {
  display: block;
  /* padding: 0 1em 0 2em; */
  color: #ffff;
  padding: 0 2em;
  font-weight: 700;
  line-height: 45px;
}

.chat-wrapper .chat-body {
  height: calc(450px -(45px + 70px));
  background: #eee;
}

.chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.message-container .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-wrapper .chat-footer {
  height: 40px;
  display: flex
}

.chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}